#candy-wrapper{
    margin:12px 15px 0 12px;
}
td{
//    height:74px;
//    width:74px;
}
//At 1920px browser width, the elements have 73px height and 74px width;
.element{
    position: relative;
    border: 1px solid #3e3e3e;
    transition: 0.3s ease background;
    cursor: pointer;
}
.element:hover{
    transition: 0s ease background;
}
//At 1920px browser width, these guys have 70px width and 50px height.
//On laptop
.symbol{
    position:relative;
    font-size:35px;
    line-height:1;
    color: #3e3e3e;
    font-weight:bolder;
    text-align:center;
}
//On laptop
.number{
    position:absolute;
    font-size:14px;
    font-weight:bold;
    color: #3e3e3e;
    line-height:1;
    top:4px;
    left:2px;
}
//On laptop
.mass{
    position:absolute;
    text-align:center;
    color: #3e3e3e;
    font-size:16px;
    line-height:1;
    width:72px;
    bottom:1px;
}
