#candy-wrapper {
  margin: 12px 15px 0 12px; }

.element {
  border: 2px solid white;
  background-color: lightblue;
  transition: 0.3s ease background; }

.element:hover {
  background-color: salmon;
  transition: 0s ease background; }
