#candy-wrapper{
    margin:12px 15px 0 12px;
}
td{
//    height:104.38888px;
//    width:104.38888px;
}
.element{
    border: 2px solid white;
    transition: 0.3s ease background;
    cursor: pointer;
}
.element:hover{
    transition: 0s ease background;
}