#candy-wrapper {
  margin: 12px 15px 0 12px; }

.element {
  position: relative;
  border: 1px solid #3e3e3e;
  cursor: pointer; }

.symbol, .mass, .number, .box-data {
  line-height: 1;
  color: #3e3e3e; }

.symbol {
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  text-align: center; }

.number {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 4px;
  left: 2px; }

.mass {
  position: absolute;
  text-align: center;
  font-size: 16px;
  width: 72px;
  bottom: 1px; }

#the-box {
  position: relative; }

.box-data {
  position: absolute;
  color: #3e3e3e;
  font-family: monospace;
  font-size: 19px; }

.box-col-1 {
  left: 200px; }

.box-col-2 {
  left: 480px; }

.box-row-1 {
  top: 30px; }

.box-row-2 {
  top: 60px; }

.box-row-3 {
  top: 90px; }

.box-row-4 {
  top: 120px; }

#box-symbol {
  font-family: Arial;
  font-size: 95px;
  font-weight: bold;
  color: white;
  bottom: 70px;
  left: 10px; }

#box-name {
  font-family: Arial;
  font-size: 60px;
  bottom: 6px;
  left: 15px; }

#box-type {
  font-size: 28px;
  right: 5px;
  bottom: 5px; }

.data-title {
  font-weight: bold; }

.nodata {
  color: white; }
